html {
  font-family: sans-serif;
  line-height: 1.37;
}

header, main, nav, footer {
  max-width: 60rem;
  margin: 1rem auto;
  padding: 0 2rem;
}

footer {
  margin-bottom: 3rem;
}

section { padding: 1rem; }

h2{
  border-bottom: 1px solid black;
  margin-top: 0;
}

#dont { padding-right: 0; }
#do { padding-left: 0; }

#do h2 { color: darkgreen; }
#do h3:before {
  color: darkgreen;
  content: '✓ ';
  position: absolute;
  left: -1.25rem;
}

#dont h2 { color: darkred; }
#dont h3:before {
  color: darkred;
  content: '✗ ';
  left: -1.25rem;
  position: absolute;
}

h3 {
  font-variant: normal;
  font-weight: bold;
  position: relative;
}

*:target {
  background: rgba(255, 255, 0, 0.5);
}

@media (min-width: 30rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

footer, nav {
  border-top: 1px solid black;
}

nav {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ol li {
  display: inline-block;
}

nav ol li:after {
  content: ' ';
}

a[href] { text-decoration: none; }
a[href]:hover { text-decoration: underline; }

figure img {
  max-width: 100%;
}
